.signup-page {
  max-height: 642px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding-bottom: 15.2rem;
  padding-left: 3rem;
  background-image: url("../../pictures/background.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  justify-content: right;
  align-items: right;
  overflow-y: hidden;
}

.username {
  position: relative;
  margin-right: 150px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-top: 13rem;
  color: white;
  align-items: right;
}

.textfield {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  margin-bottom: -1rem;
}

.chat-icon {
  width: 70px;
  height: 70px;
  padding-left: 20px;
}

.enter-button {
  padding-top: 2rem;
}

.login-signup-buttons {
  width: 240px;
  display: flex;
  flex-direction: row;
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 7rem;
  justify-content: space-between;
}

.input-error {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 20px;
}

.input-error:hover {
  box-shadow: 0 0.2em 0.7em #ff0000;
}

.error {
  color: red;
  padding-right: 13rem;
  font-size: 1rem;
  margin-bottom: -10px;
  margin-top: 10px;
}
