.texts {
  width: 100%;
  min-width: 50%;
  height: 60vh;
  margin-top: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.other-user-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 0.9rem;
  margin-bottom: 2rem;
}

.other-username {
  color: #e2dce6;
  font-size: 15px;
  padding-left: 4.5rem;
}

.other-user {
  display: flex;
  flex-direction: row;
}

.received-text {
  background-color: white;
  margin-left: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  padding-bottom: 0.5rem;
  max-width: 400px;
  max-height: auto;
}

.current-user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: right;
  float: right;
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.sent-text {
  background-color: #46a2ff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  margin-right: 0.8rem;
  max-width: 400px;
  max-height: auto;
  padding-bottom: 0.5rem;
}
