.chat-section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  font-family: Caprasimo;
  font-size: 30px;
  color: white;
}

.box {
  width: 90%;
  min-width: 20%;
  height: 90vh;
  max-height: 200%;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  background-color: #d6dee1;
  align-items: center;
  display: flex;
  border-radius: 25px;
}

.box-two {
  width: 96%;
  height: 85vh;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b9c3cd;
  position: relative;
  align-items: center;
  border-radius: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.your-chats {
  padding-left: 1rem;
  padding-top: 3rem;
}

.chats {
  padding-left: 4rem;
  margin-top: -170px;
  font-family: Caprasimo;
  font-size: 20px;
}

.chats-section {
  height: 650px;
  margin-top: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
  padding-left: 10px;
}

.single-chat {
  height: 100px;
  width: 300px;
  margin-bottom: 2rem;
  position: relative;
  color: black;
  border-radius: 18px;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem sans-serif;
  cursor: pointer;
  will-change: transform;
}

.single-chat::before,
.single-chat::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: #283038;
  transition: all 250ms ease-in-out;
}

.single-chat::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 #283038;
}

.single-chat::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px #283038;
}

.single-chat:hover::before {
  left: -10px;
  box-shadow: 318px 0 #283038;
}

.single-chat:hover::after {
  top: -10px;
  box-shadow: 0 118px #283038;
}

.profileImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 0rem;
  margin-right: 2rem;
}

.names {
  font-family: "Courier New", Courier, monospace;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}

.convo-names {
  margin-top: -5px;
}

.convo {
  margin-top: -3.5rem;
}

.conversations {
  background-color: #283038;
  width: 57%;
  min-width: 50%;
  height: 73vh;
  margin-left: 4rem;
  margin-top: 3rem;
  border-radius: 5%;
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.type {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  position: absolute;
  bottom: 14px;
}

.send-button {
  margin-left: 2rem;
}

.otherUserProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.texts {
  width: 100%;
  min-width: 50%;
  height: 63vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

::-webkit-scrollbar {
  padding-right: 30px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181012;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.other-user {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 0.9rem;
  margin-bottom: 2rem;
}

.received-text {
  background-color: white;
  margin-left: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  padding-bottom: 0.5rem;
  max-width: 400px;
  max-height: auto;
}

.current-user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: right;
  float: right;
  padding-right: 4rem;
  width: 100%;
  margin-bottom: 2rem;
}

.sent-text {
  background-color: #46a2ff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.8rem;
  border-radius: 20px;
  margin-right: 0.8rem;
  max-width: 400px;
  max-height: auto;
  padding-bottom: 0.5rem;
}

@media (max-width: 1247px) {
  .chats {
    margin-top: 0rem;
  }
}
